#main {
  display: flex;
}

a {
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
  display: inline-flex;
  line-height: 64px;
  margin: 0 10px 10px 0;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 64px;
}
