#main {
  display: flex;
  flex-wrap: wrap;
}

.bookmark {
  display: inline-flex;
  flex-direction: column;
  width: 72px
}

.bookmark a, .bookmark .name {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 6px;
  width: 60px;
}

.bookmark a {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 60px;
}

.bookmark a img {
  height: 32px;
}

.bookmark .name {
  align-items: flex-start;
  margin-top: 0;
  height: 32px;
}
