#main {
  display: flex;
  flex-wrap: wrap;
}

#block {
  display: flex;
  height: 120px;
  width: 72px;
  flex-direction: column;

}

a {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  margin: 6px;
  text-decoration: none;
  text-align: center;
  width: 72px;
}

a img {
  height: 32px;
  margin-bottom: 2px;
}
